<ion-header [translucent]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-back-button icon="arrow-back" defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title color="#FF7F00">Pasar asistencia</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    
        
      
    <ion-card class="ion-text-center">
      <ion-card-content>
        <qrcode [qrdata]="'qrCodeString'" 
        [width]="256" 
        [errorCorrectionLevel]="'M'">
      </qrcode>
      </ion-card-content>
    </ion-card>
  </ion-content>